

<div class="main_body" id="main_body">
    <div class="breadcrub">
        当前位置：文章管理>文章列表
    </div>
    <div class="pannel">
        <span class="sel_label">请选择文章分类：</span>
        <form id="form" method="post" action="/ShowArticle">
        <select name="select" id="select" class="sel_opt">
            {{range .types}}
                {{if compare $.typeName .TypeName}}
            <option selected="true">{{.TypeName}}</option>
                    {{else}}
                    <option >{{.TypeName}}</option>
                    {{end}}
                {{end}}
            <input type="submit" hidden = "hidden">
        </select>
        </form>
        <table class="common_table">
            <tr>
                <th width="43%">文章标题</th>
                <th width="10%">文章内容</th>
                <th width="16%">添加时间</th>
                <th width="7%">阅读量</th>
                <th width="7%">删除</th>
                <th width="7%">编辑</th>
                <th width="10%">文章类型</th>
            </tr>

            {{range $index, $val := .articles}}
                <tr>
                    <td>{{$val.Title}}</td>
                    <td><a href="/ArticleContent?id={{$val.Id}}"  >查看详情</a></td>
                    <td> {{$val.AddTime}}</td>
                    <td>{{$val.Count}}</td>
                    <td><a href="/DeleteArticle?id={{$val.Id}}" class="dels">删除</a></td>
                    <td><a href="/UpdateArticle?id={{$val.Id}}">编辑</a></td>
                    <td>{{$val.ArticleType.TypeName}}</td>
                </tr>
            {{end}}
        </table>

        <ul class="pagenation">
            <li><a href="#">首页</a></li>
            <li><a href="javascript:;">上一页 </a> </li>
            <li> <a href="javascript:;">下一页</a></li>
            <li><a href="#">末页</a></li>
            <li>共{{.count}}页/共{{.pageCount}}页/当前1页</li>
        </ul>
    </div>
</div>

